/* General, reset.css */
* {
    font-family: "Playfair Display", serif;
}

span{
    color: seagreen;
}

/* 자손 선택자       * 이부분 */ 
.descendent-selector p {
    font-size: 25px;
    color:sienna;
}

/* 자식 선택자 */
.child-selector > p {
    font-size: 30px;
    color: steelblue;
}

.child-selector > .nested-div {
    font-size: 10px;
    color: red;
}

/* 인접 형제(자매) 선택자 */
div + p {
    font-size: 30px;
    color: turquoise;
}

.adjacent-sibling-selector + p {
    font-size: 30px;
    color: tomato;
}