html{
    font-size: 22px;
}

table, th, td{

    text-align: center; /*tac 텍스트 중앙으로 정렬 */

    border-collapse: collapse;
    border: 1px solid black; /* 경계선 */

    border-spacing: 10px;
    margin: 0 auto; /* 중앙 정령 */
}

tr, td{
    padding: 10px; /* 안쪽 여백 */
}

.browser-color{
    color: red;
}

.google-hex{
    color: #a52a2a;
    font-family: oswald;
}

.google-rgb{
    color: RGB(0, 255, 0);
    font-family: Fuzzy Bubbles;
}

.google-rgba{
    color: RGBA(0, 0, 255, 0.4);
    font-family: Raleway;
}

.px-parent{
    font-size: 32px;
    /* font-size:16px; browser default px */
}

.px-child{
    font-size: 16px;
}

.em-parent{
    font-size: 3em;
    /* 1em = browser default 값 */
    /* 3em = browser default 300% */
}

.em-child{
    font-size: 0.5em;
    /* 부모의 절반 */
}

.rem-parent{
    font-size: 3rem;
}

.rem-child{
    font-size: 0.5rem;
    /* browser default 값의 절반 */
}