.card{
    width:23%;
    margin-left:20px;
    margin-bottom: 20px;
    border: 2px dashed grey;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    flex-direction: column-reverse;
    float: left;
}

.card:hover{/* 가상클래스, 마우스 올렸을 때 */
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8);
    
}

img{
    width: 100%;
}

/* .card:nth-child(1){  첫번째 아들만 적용 
    display: none; 이렇게 하면 안보임 공간도 사라짐 
}

 .card:nth-child(2){ 
     visibility: hidden; 공간은 차지하지만 보이진 않음 
}

 .card:nth-last-child(1){ 마지막 요소로부터 선택 
     display: none; 
}

 .card:nth-child(even){ even : 짝수, odd : 홀수 

 } */ 

.container{
    padding: 10px 9px 8px 7px; /* 시계방향 */
    padding: 2px 16px; /* 상하, 좌우 */
}